  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>  


  <script>
      var clientToken = "<%= @client_token %>";

        braintree.setup(clientToken, "dropin", {  
          container: "authorize-form"
            }
          );
  </script>

<div class = "container">

  <% @total_amount = @cartedproducts.collect { |cartprod| cartprod.product_quantity * cartprod.product_price }.sum %>

        
    <%= form_tag("/checkout", id: "authorize") do %>  
            <div id="authorize-form"></div>
             <input type="submit" class="btn btn-primary" value="Click to submit payment of <%= @total_amount %>">
             
    <%end%> 
    
</div>