<h3> Hello <%= @publicuser.name %></h3>
Thank you for registering to our T-Shirt Site! 
<%= link_to "Feel free to browse around or check out our latest in store!", root_url %><br>
<%= image_tag "banner.png" %>