<h1> Your Shopping Cart </h1>

<div class="container">
  <div id="shopee"><%= render 'carted_products/partial_in_a_partial' %></div>


<script src="https://js.braintreegateway.com/v2/braintree.js"></script>  

<%= form_tag("/checkout", id: "authorize") do %>  
  <div id="authorize-form"></div>
  <input type="submit" class="btn btn-primary" value="Authorize charge of $0.01 per second">
<% end %>  

<script>
var clientToken = "<%= @client_token %>";

braintree.setup(clientToken, "dropin", {  
  container: "authorize-form"
});
</script>

</div>



