section{
  margin-top: 50px;
  margin-bottom: 50px;
}

input#tagNameField{
  width:250px;
  height:40px;
  
}

.form-group{
  margin-top: 8px;
  margin-bottom: 8px;
}

.form-control{
  display:inline;
}

select{
  height:35px;
  border-radius:2px;
}
