
/* Across all pages */
.row{
  margin-left:0px;
  margin-right:0px;
}

hr{
  border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    width:80%;
}

.glyphicon-shopping-cart{
  font-size:24px;
}


/*cart count badge*/
.cartBadge{
  position:relative;
  top:-10px;
  background:red;
  border-radius: 15px;
  color:white;
  font-size:14px;

}

/*.cartBadge:hover{
  background:#FF817F;
}*/



/*nav bar*/

.navbar-right {
  padding-right: 10px;
}

.navbar-inverse {
  padding: 5px;
    margin-bottom: 0px;
}


/*end of nav bar*/

/* Products Index */


.card {
    height: 100%;
}


.jumbotron {
  background-image: asset-url("jumboshirt.jpg");
  background-size: cover;
  margin-top: -20px;
  padding-top: 0px;
  padding-bottom: 0px;
  height:100%;
}

.jumbowords {

  max-width: 80%;
  color:white;
  padding: 20px 40px 20px 40px;
}

/*black shadow on jumbotron image*/
.overlayBg{
  padding-top: 20px;
  padding-bottom:20px;
  height:100%;
  background-color: rgba(0,0,0,0.3);

}

/*number input field*/
.numberBox{
  width:50px;
}

/*End of Products Index*/


/*CartedProducts Index*/

#shopping-cart{
  h2{
    text-align: left;
  }
  p{
    font-size: 18px;
  }

  tr td{
    vertical-align: middle;
  }

  .itemImage{
    width:5%;
  }

}

.glyphicon-remove{
  color:red;
}


/*end of Carted Products*/

/* user edit profile */

.panel-title1, .deactivate {
  text-align: center
}

