
      <div class="jumbotron">
        <div class="overlayBg">
          <div class = "jumbowords">
            <h1>A Warm Welcome!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
          </div>
        </div>
      </div>


      <div class="row text-center">

        <% if !@products.blank? %>
          <% @products.each do |product| %>
            <%= render 'products/product', :product => product %>
          <% end %>
        <% else %>
          <p>There are no products to show!</p>
        <% end %>

      </div>


    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
    </footer>

