<div class = "row">
<div class = "col-md-6">
  <section class="stage">
  <%= image_tag(@product.image.large) %>
  </section>
</div>

  <main>

    <div class="inner">

      <h1>
        <%= @product.name %>
        $<%= @product.price.to_i %>
      </h1>
      

        <h3>
            Product Description
          </h3>
      <p class="intro">

        <%= @product.description %>
      
      </p>

      <form
        id="config-form" 
        class="" 
        action="" 
        method="" 
      >


        <!-- options wrapper -->
        <div
          class="config-options-wrapper" 
          id="" 
        >


          <h3>
            Customize &amp; Order
          </h3>


          <!-- Case -->

          <h2>
            <span>
              Colour
            </span>
          </h2>

          <ul
            class="options " 
            id="" 
          >


            <!-- Row 1 -->

            <li>
              <input 
                type="radio" 
                name="case-opt" 
                class="" 
                id="case-opt-01" 
                value="" 
                data-stage-name="case-opt-gold" 
                checked="checked" 
              />
              <label
                id="" 
                class="" 
                for="case-opt-01" 
              >
                <img 
                  src="http://mattamyot.com/demos/watch-configurator/assets/option-thumb-gold.png" 
                  alt=""
                />
                <div class="faux-checked"></div>
                <span>
                  Khaki
                </span>
              </label>
            </li>

            <li>
              <input 
                type="radio" 
                name="case-opt" 
                class="" 
                id="case-opt-02" 
                value="" 
                data-stage-name="case-opt-silver" 
              />
              <label
                id="" 
                class="" 
                for="case-opt-02" 
              >
                <img 
                  src="http://mattamyot.com/demos/watch-configurator/assets/option-thumb-silver.png" 
                  alt=""
                />
                <div class="faux-checked"></div>
                <span>
                  White
                </span>
              </label>
            </li>

            <li>
              <input 
                type="radio" 
                name="case-opt" 
                class="" 
                id="case-opt-03" 
                value="" 
                data-stage-name="case-opt-graphite" 
              />
              <label
                id="" 
                class="" 
                for="case-opt-03" 
              >
                <img 
                  src="http://mattamyot.com/demos/watch-configurator/assets/option-thumb-graphite.png" 
                  alt=""
                />
                <div class="faux-checked"></div>
                <span>
                  Grey
                </span>
              </label>
            </li>

            <li>
              <input 
                type="radio" 
                name="case-opt" 
                class="" 
                id="case-opt-04" 
                value="" 
                data-stage-name="case-opt-blue-steel" 
              />
              <label
                id="" 
                class="" 
                for="case-opt-04" 
              >
                <img 
                  src="http://mattamyot.com/demos/watch-configurator/assets/option-thumb-blue-steel.png" 
                  alt=""
                />
                <div class="faux-checked"></div>
                <span>
                  Navy
                </span>
              </label>
            </li>

            <li>
              <input 
                type="radio" 
                name="case-opt" 
                class="" 
                id="case-opt-05" 
                value="" 
                data-stage-name="case-opt-rose-gold" 
              />
              <label
                id="" 
                class="" 
                for="case-opt-05" 
              >
                <img 
                  src="http://mattamyot.com/demos/watch-configurator/assets/option-thumb-rose-gold.png" 
                  alt=""
                />
                <div class="faux-checked"></div>
                <span>
                  Pink
                </span>
              </label>
            </li>
            

          </ul>

        

            </div>

        </div>

    </div>

</div>
</form>
</div>
</main>



